.card{
  width: 100%;
  background: map-get($colors, 'secondary');
  color: $dark;
  font-size: 12pt;
  margin: 1em 0;
  border-radius: .2em;
  padding: 2em;

  .headline{
    font-size: 24pt;
    font-weight: bold;
    margin: 0 0 .5em 0;
  }
}