.card{
  width: 100%;
  font-size: 12pt;
  margin: 1em 0;
  border-radius: .2em;
  padding: 2em;

  @include themify($themes){
    color: themed('dark');
    background: themed('light');
  }

  .headline{
    font-size: 24pt;
    font-weight: bold;
    margin: 0 0 .5em 0;
  }
}