table {
    border-collapse: collapse;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
  
    th, td {
      padding: 0.5rem;
      border-bottom: 1px solid #dee2e6;
    }
  
    tbody {
      vertical-align: inherit;
    }
  
    thead th {
      vertical-align: bottom;
      border-bottom-color: #495057;
    }
  
    tbody + tbody {
      border-top: 2px solid #dee2e6;
    }
  }
  
  /*Cambiar tamaño de tablas con class table-sm*/
  
  .table-sm {
    th, td {
      padding: 0.25rem;
    }
  }
  
  /*Añde un hover sobre la clase table*/
  
  .table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  /*table-primary- Tabla primaria*/
  
  .table-primary {
    background-color: #6246ea;
    color: #ffffff;
  
    > {
      th, td {
        background-color: #6246ea;
        color: #ffffff;
      }
    }
  
    th, td, thead th, tbody + tbody {
      border-color: #ffffff;
    }
  }
  
  .table-hover .table-primary:hover {
    background-color: #212529;
  
    > {
      td, th {
        background-color: #212529;
      }
    }
  }
  
  /*table-secondary- Tabla Secundaria*/
  
  .table-secondary {
    background-color: #d1d1e9;
  
    > {
      th, td {
        background-color: #d1d1e9;
      }
    }
  
    th, td, thead th, tbody + tbody {
      border-color: #212529;
    }
  }
  
  .table-hover .table-secondary:hover {
    background-color: #212529;
  
    > {
      td, th {
        background-color: #212529;
      }
    }
  }
  
  /*table-danger- Tabla de Peligro*/
  
  .table-danger {
    background-color: #e45858;
    color: #ffffff;
  
    > {
      th, td {
        background-color: #e45858;
        color: #ffffff;
      }
    }
  
    th, td, thead th, tbody + tbody {
      border-color: #ffffff;
    }
  }
  
  .table-hover .table-danger:hover {
    background-color: #212529;
  
    > {
      td, th {
        background-color: #212529;
      }
    }
  }